*{
	box-sizing: border-box;
}
body{
	background-color: rgb(255, 255, 255);
	font-family: 'Poppins', sans-serif;
	margin: 0 !important;
	padding: 0 !important;
	display: flex;
	justify-content: center;
	align-content: center;
	transition: background-color 50ms;
}
.box {
	margin-top:15vh;
	width: 300px;
	height: 350px;
	background-color: #00356B;
	border-radius: 10px;
	transition: transform 400ms;
	text-align: center;
	box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.6);
}

.title {
	font-size: 20px;
	color: white;
	margin-top: 10px;
}
.message {
	color: white;
	margin-top: 25px;
}
.number {
	display: block;
	font-size: 125px;
	color: 	#39FF14;
	margin-top: -5px  !important;
	padding: 0 !important;
}
.button-wrapper {
	display: flex;
	justify-content: space-evenly;
	margin-top: 0px;
}
.button {
	width: 90px;
	height: 30px;
	background-color: rgb(212, 212, 212);
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	transition: transform 400ms, background-color 400ms;

	font-weight: bold;
}
.button-wrapper button:hover {
	transform: scale(1.05);
	background-color: rgb(255, 255, 255);
}
.button-wrapper button:active {
	background-color: rgba(255, 255, 255, 0.774);
}
.correct{
	background-color: rgb(149, 231, 156);
}